.google-calendar-export {
  margin-top: 2%;
  margin-bottom: 4%;
  display: flex;
  align-items: stretch;
  justify-content: center;
}

.MuiButton-root.success {
  color: green;
}

.MuiButton-root.failure {
  color: red;
}
