.cards {
  display: flex;
}

.event-form {
  display: flex;
  align-items: baseline;
  margin-top: -1.8%;
}

.card-title {
  text-align: center;
}

.activities-list {
  list-style: none;
}

@media only screen and (max-width: 600px) {
  .event-form {
    margin-top: -7%;
    margin-bottom: -7%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .cards {
    display: flex;
    flex-direction: column;
  }
}
