.itinerary {
  margin-top: 5%;
}

.individual-day {
  display: flex;
  justify-content: space-evenly;
}

@media only screen and (max-width: 600px) {
  .travelaccommo-display {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 4%;
    margin-top: 4%;
  }
}
