.accommodation-travel-input {
    display: flex;
    justify-content: center;
    text-align: center;
}

input {
    text-align: center;
}

@media only screen and (max-width: 600px) {
    
    .accommodation-travel-input {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}
