.accommodation-travel-input {
  display: flex;
  justify-content: space-evenly;
}

.form-display {
  display: flex;
  justify-content: center;
}

.travel-accommo-form {
  display: flex;
  flex-direction: column;
}

.sticky-footer {
  margin-top: 20%;
  position: sticky;
  bottom: 0;
}

/* .MuiPaper-elevation4 {
  box-shadow: 1px -6px 4px -1px #836529, 0px 4px 5px 0px #836529,
    0px 1px 10px 0px #836529;
} */

@media only screen and (max-width: 600px) {
}
