h2 {
  margin-top: 8%;
  text-align: center;
  font-size: 250%;
}

.location-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4%;
}

.plane {
  width: 8%;
}

@media only screen and (max-width: 600px) {
  h2 {
    font-size: 180%;
    margin-top: 45%;
  }
  .location-form {
    align-items: center;
    margin-top: 4%;
    width: 50%;
    margin-left: 25%;
  }

  .plane {
    width: 15%;
  }
}
