/* TripItinerary Styling */
.trip-title {
  margin-top: 2%;
}
.trip-date-title {
  text-align: center;
  margin-top: 0%;
}

.itinerary-data-display {
  display: flex;
  justify-content: space-between;
  margin-top: 1%;
}

.travel-accommo-display {
  position: sticky;
  left: 0;
  width: 25%;
  height: 100%;
  max-height: 425px;
  overflow-y: scroll;
  border-radius: 10px;
  background-color: #f0f1f2;
}

.delete-entry {
  display: flex;
  align-items: center;
}

.travel-accommo-display ul {
  list-style: none;
  margin-bottom: 3%;
  padding-inline-start: 3px;
}

/* AccommoAndTravelInput Styling */
.accommodation-travel-input {
  display: flex;
  justify-content: space-evenly;
}

.form-display {
  display: flex;
  justify-content: center;
}

.travel-accommo-form {
  display: flex;
  flex-direction: column;
}

.travel-accommo-form label {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2%;
  margin-bottom: 2%;
}

.sticky-footer {
  margin-top: 18%;
  position: sticky;
  bottom: 0;
}

/* Itinerary Styling */
.itinerary {
  width: 80%;
  margin-left: 1%;
}

.individual-day {
  display: flex;
  justify-content: space-evenly;
}

/* Day Styling */
.cards {
  display: flex;
}

.individual-card {
  width: 25%;
  min-width: 230px;
}

.event-form {
  display: flex;
  align-items: baseline;
  margin-top: -1.8%;
}

.card-title {
  text-align: center;
}

.activities-list {
  list-style: none;
  padding: 0;
  width: 100%;
}

/* CalendarExport Styling */

.google-calendar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.google-calendar-export {
  display: flex;
  align-items: stretch;
  justify-content: center;
}

.error {
  color: red;
  margin-bottom: 3%;
}

.MuiButton-root.success {
  color: green;
}

.MuiButton-root.failure {
  color: red;
}

@media only screen and (max-width: 600px) {
  .event-form {
    margin-top: -7%;
    margin-bottom: -7%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .cards {
    display: flex;
    flex-direction: column;
  }
  .individual-card {
    width: 100%;
    min-width: 230px;
  }
  .itinerary-data-display {
    display: flex;
    flex-direction: column;
    margin-top: 1%;
  }
  .travel-accommo-display {
    position: relative;
    max-height: 240px;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 4%;
  }
  .itinerary {
    width: 100%;
  }
  .sticky-footer {
    margin-top: 40%;
  }
  .accommodation-travel-input span {
    font-size: 75%;
  }
}
