h1 {
  text-align: center;
}
h3 {
  font-size: 1.35em;
}
p {
  text-align: center;
}

.planner-demo {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}

.steps-left-align {
  display: flex;
  flex-direction: column;
}

.steps-right-align {
  display: flex;
  flex-direction: column;
}

.steps-picture {
  width: 50%;
}
/* .first-step {
  display: flex;
  flex-direction: column;
  width: 33%;
}

.second-step {
  display: flex;
  flex-direction: column;
  width: 33%;
}

*/
.third-step {
  display: flex;
  flex-direction: column;
  width: 33%;
}

.demo-pic {
  width: 50%;
  transition: all 0.2s ease-in-out;
}

.demo-pic:hover {
  transform: scale(1.1);
}

.landing-footer {
  display: flex;
  align-items: center;
  justify-content: center;
}
