img.bg {
  position: fixed;
  left: 0;
  width: 100%;
  margin-top: 3%;
  height: 90%;
}

h1 {
  text-align: center;
  margin-top: 6%;
}
h3 {
  text-align: center;
}

.planner-demo {
  display : flex;
  justify-content: space-evenly;
}

.first-step .second-step .third-step {
  display: flex;
  flex-direction: column;
}